<div class="row">
  <h1 style="text-align:center">IFTTT to Webhooks</h1>
  <p style="margin:5% auto; max-width: 500px; text">Got annoyed enough that IFTTT still does not offer a Webhook trigger to make my own. Entirely inspired from <a href="https://github.com/femto113/node-ifttt-webhook">femto113/node-ifttt-webhook</a> which is entirely inspired from <a href="https://github.com/captn3m0/ifttt-webhook">captn3m0/ifttt-webhook</a>. Add your own webhooks as you see fit or roll your own from <a href="https://github.com/nambrot/xmlrpc_controller">nambrot/xmlrpc_controller</a></p>
  
  <h1 class='subheader' style="text-align:center">Add this "Wordpress-Blog"</h1>
  <p>
    <img src="<%= image_path 'step2.png'%>" alt="" class="ifttt-logo" style=''>  
  </p>
  
  <h1 class='subheader' style="text-align:center">Create new "Post"</h1>
  <p>
    <img src="<%= image_path 'step1.png'%>" alt="" class="ifttt-logo">  
  </p>
  
  
    
</div>
