<div class="row">
  <h1 style="text-align:center">IFTTT to Webhooks</h1>
  <img src="<%= image_path 'ifttt.png'%>" alt="" class="ifttt-logo" style=''>
  <h1 style="text-align:center">&lt;3</h1>
  <img src="<%= image_path 'webhooks.png'%>" alt="" class="ifttt-logo">
    
</div>
