<!DOCTYPE html>
<html>
<head>
  <title>IftttWebhooks</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/css/foundation.css

">
  <style>
    img {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      display: block;
    }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
